<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= camp.id %>/edit?_method=PUT" method="post" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="<%= camp.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" value="<%= camp.location %>"
                        required>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="image">Add images</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="price" value="<%= camp.price %>" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description"
                        required><%= camp.description %></textarea>
                </div>

                <div class="mb-3">
                    <p>Delete images</p>
                    <% camp.images.forEach((img , i) => { %>
                        
                        <img src="<%= img.url %>" alt="" class="img-thumbnail" crossorigin="anonymous">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteimages[]" id=" <%= i %>" value="<%= img.filename %>">
                        </div>
                        <label for="<%= i %>">Delete</label>
                    <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
        </div>
    </div>