<% layout('layouts/boilerplate') %>

<h1 class="mb-5">All Campgrounds</h1>

<a href="/campgrounds/new" class="btn btn-success mb-5">
    + Create campground 
</a>

<% for(let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h5 class="card-title mt-3"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description  %></p>
            <p class="card-text">
                <small class="text-muted">
                    <%= campground.location %>
                </small>
            </p>
            <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">
                View Campground
            </a>
        </div>
    </div>
</div>

<% } %>