<% layout('layouts/boilerplate') %>

<div class="card mb-5" style="width: 40rem; margin : 2vw auto 2vw auto;">
    <img src="<%= campground.image %>" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description %></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        <li class="list-group-item">Rs.<%= campground.price %>/night</li>
    </ul>
    <div class="card-body">
      <a href="/campgrounds/<%= campground.id %>/edit" class="card-link btn btn-warning">Edit</a>
      <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post" class="d-inline">

        <button class="btn btn-danger">Delete</button>

      </form>
      <a href="/campgrounds" class="card-link btn btn-info" >All Campgrounds</a>
    </div>

    <div style="display: flex ; flex-direction: column; margin-top: 1px solid rgb(184, 184, 184); padding: 1vw;">
      <h4>Comments</h4>
      <% for (let comment of campground.reviews){ %>
        <div style="padding : 1vw; background-color : rgb(246, 246, 246) ; border-radius : 10px; margin: 1vw 0vw 0vw 0vw;">
          <p><%= comment.comment %></p>
          <form action="/campgrounds/<%= campground.id %>/delete/<%= comment.id %>?_method=DELETE" method="post">
            <button class="btn btn-light" style="border: 1px solid rgb(216, 215, 215);">Remove</button>
          </form>
        </div>
      <% } %>
    </div>

  </div>

  <h2 style="margin-left: 22vw;">Provide reviews and ratings</h2>

  <form action="/campgrounds/<%= campground.id %>/reviews" method="post" class="needs-validation" novalidate>
    
    <div style="display: flex; padding: 1vw; width: 40vw; margin : 1vw auto 1vw auto; border-bottom: 1px solid rgb(180, 180, 180)">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" max="5" min="1" name="rating" id="rating" style="margin-left: 3vw; width : 15vw;" class="form-range">
    </div>
  
    <div style="display: flex; flex-direction: column; padding: 1vw; width: 40vw; margin : 0vw auto 1vw auto">
        <label for="comment" class="form-label">Comment</label><br>
        <textarea name="comment" id="comment" cols="60" rows="5" placeholder="Write your thoughts here..." required class="form-control"></textarea>
        <button class="btn btn-success mt-3">Submit</button>
    </div>

  </form>

  