<% layout('layouts/boilerplate') %>

<h1>Show Campground</h1>
<h2>
    <%= campground.title %>
</h2>
<h3>
    <%= campground.location %>
</h3>

<img src="<%= campground.image %>" alt="">

<p><%= campground.description %></p>
<p>Price : Rs.<%= campground.price %></p>

<a href="/campgrounds/<%= campground.id %>/edit">
    <button>Edit</button>
</a>

<form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

<footer><a href="/campgrounds">All campgrounds</a></footer>