<% layout('layouts/boilerplate') %>

<div class="card mb-5" style="width: 40rem; margin : 2vw auto 2vw auto;">
    <img src="<%= campground.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description %></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        <li class="list-group-item">Rs.<%= campground.price %>/night</li>
    </ul>
    <div class="card-body">
      <a href="/campgrounds/<%= campground.id %>/edit" class="card-link btn btn-warning">Edit</a>
      <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post" class="d-inline">

        <button class="btn btn-danger">Delete</button>

      </form>
      <a href="/campgrounds" class="card-link btn btn-info" >All Campgrounds</a>
    </div>
  </div>